.type-839 .card-group {
  display: flex;
}
.type-839 .boderfull {
  color: #003333;
  text-align: center;
}
.type-839 .boderfull p {
  border-bottom: 1px solid #e2eafd;
  color: #0066cc;
  margin: 15px 0;
  font-size: 18px;
}
.type-839 .boderfull .fa-clock-o {
  font-size: 20px;
  color: #4d7df0;
}
.type-839 .boderfull .thumbnail {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  transition: border .2s ease-in-out;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
}
.type-839 .boderfull .thumbnail img {
  transition-duration: 0.5s;
}
.type-839 .boderfull .thumbnail img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
