.type-839 .Boderfull {
  color: #003333;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.type-839 .Boderfull p {
  border-bottom: 1px solid #e2eafd;
  color: #0066cc;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
}
.type-839 .Boderfull .btnshopnow {
  background: #4d7df0;
  color: #fff;
  margin-top: -25px;
}
.type-839 .Boderfull .btnshopnow:hover {
  background: #131930;
  color: #fff;
  border-radius: 5px;
}
.type-839 .Boderfull .font-name h1 {
  font-size: 18px;
  color: #0066cc;
}
.type-839 .Boderfull .font-name h2 {
  font-size: 18px;
  color: #003333;
}
.type-839 .Boderfull .font-name h3 {
  font-size: 18px;
  color: #99ccff;
  font-family: 'Montserrat', Thin;
}
.type-839 .Boderfull .font-name h4 {
  font-size: 18px;
}
.type-839 .Boderfull .font-name .fa-clock-o {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #4d7df0;
}
.type-839 .Boderfull .wrap_border {
  border: 1px solid #e5e5e5;
}
.type-839 .Boderfull .wrap_border .thumbnail {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  transition: border .2s ease-in-out;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
}
.type-839 .Boderfull .wrap_border .thumbnail img {
  transition-duration: 0.5s;
}
.type-839 .Boderfull .wrap_border .thumbnail img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
