.mod-custom-style-8 {
  background: #2a3b4d;
  color: #838b95;
  width: auto;
  clear: both;
}
.mod-custom-style-8 .main-container {
  padding-left: 30px;
  padding-right: 30px;
}
.mod-custom-style-8 .t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 25px;
}
.mod-custom-style-8 .t3-module .module-inner {
  padding: 0;
}
.mod-custom-style-8 .t3-footnav .t3-module .module-title {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}
.mod-custom-style-8 .module-title {
  background: transparent;
  color: #333333;
  font-size: 15px;
  margin: 0 0 12.5px 0;
  padding: 0;
  text-transform: uppercase;
}
.mod-custom-style-8 .row {
  text-align: left;
  margin-left: -20px;
  margin-right: -20px;
}
.mod-custom-style-8 .footer-info {
  padding-top: 5px;
  margin-left: 15px;
  margin-right: -15px;
}
.mod-custom-style-8 .footer-info img {
  margin-bottom: 30px;
}
.mod-custom-style-8 .footer-info ul {
  padding-left: 0;
}
.mod-custom-style-8 .footer-info ul > li {
  list-style: none;
  margin-bottom: 12.5px;
  font-size: 13px;
}
.mod-custom-style-8 .footer-info .addthis_toolbox > a.addthis_button_facebook_follow {
  background: #30477b;
}
.mod-custom-style-8 .footer-info .addthis_toolbox > a {
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  padding: 0;
  height: 36px;
  line-height: 36px;
  margin-right: 5px;
  text-align: center;
  transition: 0.3s;
  width: 36px !important;
}
.mod-custom-style-8 .footer-info .addthis_toolbox > a.addthis_button_twitter_follow {
  background: #01aef0;
}
.mod-custom-style-8 .footer-info .addthis_toolbox > a.addthis_button_rss_follow {
  background: #ff6252;
}
.mod-custom-style-8 .menu-style-1 .module-title:before {
  display: none;
}
.mod-custom-style-8 .fa {
  margin-top: 10px;
}
.mod-custom-style-8 .module-title {
  margin: 0px;
  padding: 0px;
}
.mod-custom-style-8 .t3-footnav .t3-module {
  background: #2a3b4d;
  color: #838b95;
  margin-bottom: 15px;
}
.mod-custom-style-8 .module-ct {
  background: #2A3B4D;
  color: inherit;
  padding-right: 0px 33px;
}
.mod-custom-style-8 .t3-footnav .t3-module ul > li > a {
  color: #838b95;
}
.mod-custom-style-8 .nav > li > a {
  position: relative;
  display: block;
  padding: 3px 0px;
}
.mod-custom-style-8 .menu-style-1 {
  padding: 0px;
  background: #2A3B4D;
}
.mod-custom-style-8 .poweredby .t3-logo,
.mod-custom-style-8 .poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.mod-custom-style-8 .t3-logo-small {
  width: 100%;
  height: auto;
}
.mod-custom-style-8 .t3-footer .t3-logo .t3-logo,
.mod-custom-style-8 .t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.mod-custom-style-8 .poweredby {
  float: left;
  margin-left: 6px;
}
.mod-custom-style-8 .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.mod-custom-style-8 .acymailing_module_form {
  background: #202d3b;
  border-radius: 30px;
  padding: 10px 0;
  margin-right: 40px;
  margin-left: 30px;
}
.mod-custom-style-8 .acymailing_module_form .acymailing_form td {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.mod-custom-style-8 .acymailing_fulldiv tr,
.mod-custom-style-8 .acymailing_fulldiv td {
  border: 0px;
}
.mod-custom-style-8 .acymailing_module_form .acymailing_form .btn-secondary {
  font-size: 14px;
  margin-top: 2px;
  transition: 0.3s;
  float: right;
}
.mod-custom-style-8 .btn-secondary {
  border-color: #7bc673;
  border-width: 2px;
  color: #7bc673;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  background: none;
}
.mod-custom-style-8 .btn {
  border-radius: 20px;
  font-weight: 700;
}
.mod-custom-style-8 .acymailing_module_form .acymailing_form .inputbox {
  background: none;
  border: none;
  box-shadow: none;
  color: #838b95;
}
.mod-custom-style-8 .t3-copyright small {
  display: block;
  font-size: 13px;
}
.mod-custom-style-8 .t3-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mod-custom-style-8 hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  margin-left: 10px;
  margin-right: 15px;
}
.mod-custom-style-8 a:hover {
  text-decoration: none;
}
.mod-custom-style-8 .nav-stacked li {
  cursor: pointer;
}
.mod-custom-style-8 .nav-stacked li:hover {
  color: #ffffff;
}
.mod-custom-style-8 #user_email_formAcymailing44681 {
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #adb3b9;
  font-weight: 300;
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
  background: #202d3b;
}
.mod-custom-style-8 #user_email_formAcymailing44681:focus {
  border: none !important;
}
.mod-custom-style-8 .acymailing_form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mod-custom-style-8 .t3-footnav {
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  .mod-custom-style-8 .t3-footnav > div:nth-child(2n+1) {
    clear: none;
  }
  .mod-custom-style-8 .t3-footnav {
    text-align: center;
  }
  .mod-custom-style-8 .t3-module {
    margin-bottom: 20px;
  }
  .mod-custom-style-8 .module-title {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .mod-custom-style-8 .acymailing_module {
    margin-top: 20px;
  }
  .mod-custom-style-8 .acymailing_form {
    width: 100%;
  }
  .mod-custom-style-8 .main-container {
    text-align: center;
  }
  .mod-custom-style-8 .module {
    text-align: center;
    margin-top: 20px;
  }
  .mod-custom-style-8 .custom {
    text-align: center;
    margin-top: 20px;
  }
  .mod-custom-style-8 .small {
    text-align: center;
  }
  .mod-custom-style-8 .module1 {
    margin-left: 80px;
  }
}
